.header{
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn-primary {
    width: 20%;
    float: right;
}
.input-area{
    width: 60%;
}
.app-modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.btn-delete{
    background-color: darkred;
    color : white;
}