<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Gistist Admin Panel</h1>
    <form class="form-signin" (submit)="login(email.value, password.value)">
      <label for="email" class="sr-only">Email</label>
      <input #email type="email" id="email" class="form-control" placeholder="Email">
      <label for="password" class="sr-only">Password</label>
      <input #password type="password" id="password" class="form-control" placeholder="Password" required="">
      <br>
      <button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>